extends layout
block home
  include nav
  .section
    .container
      .title todo
      .subtitle Welcome #{profile.name}
      .field.is-grouped
        .control
          .subtitle Your List
        .control
          a.button.is-success(href='/todo/new-list') New List
      .field#dash
        table.table
          thead
            tr
              th No.
              th Title
              th Items
              th Created
          tfoot
            tr
              th No.
              th Title
              th Items
              th Created
          tbody
        p {{hi}}
        ul(v-for="i in lists")
          li {{i.items}}
          li {{i.title}}
  script(src="js/axios.min.js")
  script(src="js/vue.js")
  script(src="js/dash.client.js")
