doctype html
html
  head
    title Passport Local
    link(rel="stylesheet" href="mystyle.css")
    script(src="style/fontawesome-all.min.js")
    script(src="js/vue.js")
  body
    block home
    block login
    block register
    block dash
    block todo
    script(src="js/script.js")
    script(src="js/axios.js")
