doctype html
html
  head
    title Passport Local
    link(rel="stylesheet" href="mystyle.css")
  body
    block home
    block login
    block register
    block dash
    block todo
    script(src="script.js")
