#nav
  nav.navbar.is-info
    .navbar-brand
      a.navbar-item(href="/") todo
      .navbar-burger.burger
        span
        span
        span
    .navbar-menu
      .navbar-start
        .navbar-item Home
        
