extends layout
block register
  .section
    .container
      form(action="/register" method="post")
        .title Register
        .subtitle todo
        .field
          
          label.label(for="username") Username
          .control
            input.input(name="username" placeholder="Username")
          label.label(for="password") Password
          .control
            input.input(name="password" placeholder="Password")
        .field.is-grounped
          .control
            a.button(href="/login") Login
          .control
            button.button(type="submit") Register
